.input {
    @apply
        rounded
        border-blue-300
        focus:border-blue-500
        focus-within:border-blue-500
        focus:ring-blue-500;

    &_file {
        @apply input cursor-pointer focus:ring-0 focus:outline-none;

        &::-webkit-file-upload-button,
        &::file-selector-button {
            @apply button border-0 mr-4;
        }
    }
}
